<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- not fixed size container from bootstrap -->
		<div class="navbar-header">
			<a class="navbar-brand" href="#">TOODAI</a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li routerLinkActive="active"><a routerLink="/about" routerLinkActive="active"><span class="	glyphicon glyphicon-info-sign"></span> About</a></li>
			<li *ngIf="!authService.loggedIn()" routerLinkActive="active"><a routerLink="/login" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
			<li *ngIf="!authService.loggedIn()" routerLinkActive="active"><a routerLink="/registration" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
			<li *ngIf="authService.loggedIn()"  routerLinkActive="active"><a routerLink="/home" (click)="authService.logout()"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
		</ul>
	</div>
</nav>
<router-outlet></router-outlet>