<div class="row">
  <form class="col" [formGroup]="bookmarkForm">
    <div class="row">
      <div class="col" class="my-3">
        <mat-form-field appearance="fill">
          <mat-label>Url</mat-label>
          <input formControlName="url" matInput required />
          <mat-error *ngIf="checkError('url', 'required')"
            >Url is required</mat-error
          >
          <mat-error *ngIf="checkError('url', 'invalidUrl')"
            >Url is invalid</mat-error
          >
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea formControlName="description" matInput></textarea>
        </mat-form-field>
        <mat-error *ngIf="checkError('description', 'maxLength')"
          >Description must not be longer than 5000 characters</mat-error
        >
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-form-field class="tags" appearance="fill">
          <mat-label>Tags</mat-label>
          <mat-chip-list #chipList aria-label="Tags selection">
            <mat-chip
              *ngFor="let tag of tags"
              [selectable]="true"
              [removable]="true"
              (removed)="removeTag(tag)"
            >
              {{ tag }}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input
              placeholder="New tag..."
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="true"
              (matChipInputTokenEnd)="addTag($event)"
            />
          </mat-chip-list>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-checkbox formControlName="toRead">To read</mat-checkbox>
      </div>
    </div>
  </form>
</div>
