<div class="addBookmarkDialog row">
  <div class="col">
    <h2 mat-dialog-title>New Bookmark!</h2>
    <mat-dialog-content class="mat-typography">
      <add-bookmark-form #addBookmark></add-bookmark-form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel action</button>
      <button
        mat-button
        [mat-dialog-close]="addBookmark.createBookmark()"
        disabled="{{ addBookmark.getFormGroup().invalid }}"
        cdkFocusInitial
      >
        Create
      </button>
    </mat-dialog-actions>
  </div>
</div>
