<div>
<label>Link title:</label><input #linkTitle />
<label>Link url:</label><input #linkUrl />
<button (click)="add(linkTitle.value, linkUrl.value); linkTitle.value=''; linkUrl.value=''">
Add Link
</button>
</div> 
<ul class="links">
	<li *ngFor="let link of links" 
			[class.selected]="link === selectedLink"
			(click)="onSelect(link)">
		<span class="badge">{{link.id}}</span> 
		<span>{{link.title}}</span>
		<button class="delete" (click)="delete(link); $event.stopPropagation()">x</button> <!-- stop propagation prevents the selection of the current li element when remnoving it !-->
	</li>
</ul>
<div *ngIf="selectedLink">
	<h2>
		{{ selectedLink.name | uppercase }} is my link
	</h2>
	<button (click)="gotoDetail()">View Details</button>
</div>
