@import '../styles.scss';

#user-actions-dropdown-button span.caret {
  margin-left: 10px;
}

#user-actions-dropdown-button:focus {
  color: $link-color;
}

#user-actions-dropdown-button:hover {
  color: $link-color;
}

a.dropdown-toggle {
  cursor: pointer;
}

a.dropdown-item {
  cursor: pointer;
}

.navbar .navbar-nav > li.open > a:focus {
  background-color: $brand-primary;
}
