<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <!--
      <ul ngbNav #nav="ngbNav" class="nav">
        <li ngbNavItem class="d-flex justify-content-start">
          <a class="navbar-brand" href="#">{{ title }}</a>
        </li>
        <li
          ngbNavItem
          *ngIf="!authService.loggedIn()"
          routerLinkActive="active"
        >
          <a routerLink="/login"
            ><span class="glyphicon glyphicon-log-in"></span> Login</a
          >
        </li>
        <li
          ngbNavItem
          *ngIf="!authService.loggedIn()"
          routerLinkActive="active"
        >
          <a routerLink="/registration"
            ><span class="glyphicon glyphicon-user"></span> Sign Up</a
          >
        </li>
        <li
          ngbNavItem
          *ngIf="authService.loggedIn()"
          class="justify-content-end"
          routerLinkActive="active"
        >
          <routerLink routerLink="/bookmarks">
            <fa-icon [icon]="faHouse">Home</fa-icon>
          </routerLink>
        </li>
        <li
          ngbNavItem
          *ngIf="authService.loggedIn()"
          ngbDropdown
          class="d-inline-block justify-content-end"
        >
          <button
            id="user-actions-dropdown-button"
            type="button"
            class="btn btn-outline-primary"
            id="userDropDownToggle"
            ngbDropdownToggle
          >
            <fa-icon [icon]="faUser"></fa-icon>
          </button>
        </li>
      </ul>
      -->
      <mat-toolbar class="toodaiNavbar">
        <span>TOODAi</span>
        <button *ngIf="!authService.loggedIn()" class="login-button" aria-label="login button" routerLink="/login">
          Login
        </button>
        <tags-input class="tags-input" *ngIf="authService.loggedIn()">
        </tags-input>
        <button *ngIf="authService.loggedIn()" class="addurl-button" aria-label="add url button"
          (click)="addBookmark()">
          New url
        </button>
        <button mat-icon-button *ngIf="authService.loggedIn()" class="logout-button" aria-label="logout icon">
          <mat-icon (click)="authService.logout()">logout</mat-icon>
        </button>
        <button *ngIf="!authService.loggedIn()" class="signup-button" aria-label="singup button">
          Sign up
        </button>
      </mat-toolbar>
    </div>
    <div class="row">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>